# Files and folders to ignore.

# ----------------------------
# Configuration Folders.
# ----------------------------

# From the editor.
.idea
**/.idea/**

# From the setup.
stochastic.egg-info

# Ignore pycache files.
**__pycache__
__pycache__**
**.vs
.vs
.vs**


# Ignore text and image files.
**.txt
**.png
**.json